.div1 {
    background-color: #fcbb43;
    width: 500px;
    height: 500px;
}

.div1_filha {
    background-color: #96f79b;
    height: 250px;
    width: 250px;
}

.paragrafo {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.div2 {
    width: 50%;
    height: 50vh;
    background-color: rgb(77, 199, 255);
}

.div2_filha {
    width: 75vw;
    height: 50%;
    background-color: rgb(238, 3, 3);
}